<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Acceptance suite">
    <listeners>
        <listener class-name="webNora.automation.core.common.AnnotationTransformer"/>
    </listeners>
    <test verbose="5" name="Nora Test Suite">
        <classes>
            <class name="webNora.Test"></class>
            <!--            <class name="apiNora.authorization.AuthNoraGoTv"/>-->
            <!--            <class name="apiNora.authorization.AuthNoraGoFastTv"/>-->
            <!--            <class name="webNora.PackagesModTest"/>-->
            <!--            <class name="webNora.SubscribersModTest"/>-->
            <!--            <class name="webNora.TvChannelsModTest"/>-->
            <!--            <class name="webNora.RadioChannelsModTest"/>-->
            <!--            <class name="webNora.VideoOnDemandModTest"/>-->
            <!--            <class name="webNora.CategoriesAndSeriesModTest"/>-->
            <!--            <class name="webNora.ChannelsAndServicesModTest"/>-->
            <!--                        <class name="webNora.DrmServiceModTest"/>-->
            <!--            <class name="webNora.DevicesModTest"/>-->
            <!--            <class name="webNora.InfoModTest"/>-->
        </classes>
    </test>
</suite>